{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'stock.css' %}">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <script type="text/javascript" src="{% static 'stocks_main.js' %}"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"
  crossorigin="anonymous"></script>
</head>
<body>
<h1>This is stock market</h1>
<div id="stock_chart">

</div>
<div id="stock_slot">

</div>

</body>
</html> 
